body {
	background-color: white;
	margin:0;
	padding:0;
	font-size: 0.75em;
	line-height: 1.2em;
	color: black;
}

#wrap {
	width:1920px;
	text-align:left;
	margin: 0 auto;
	background-color: white;
	min-height:1080px;
    font-family: 'NanumGothic';
}
.clear{
    clear: both;
}
header {
    position: fixed;
     z-index: 100;
     top: 0;
     right: 0;
     left: 0;
     height: 45px;
     background-color: #670e10;
}
header h1{
        position: absolute;
        z-index: 1;
        top: -10px;
        left: 50%;
        margin-left: -49px;
        font-weight: normal;
      }
header h1 a{
        display: block;
        width: 98px;
        height: 133px;
      }

header .top_util{
        overflow: hidden;
        margin: 0 auto;
        width: 1200px;
        height: 33px;
      }
header .top_util div{
        display: inline-block;
        margin-top: 15px;
        color: white;
        font-size: 22px;
        font-weight: bold;
      }
header .top_util div a{
   text-decoration: none;
    color: white;
}

/*네비 */
nav{
        position: relative;
        background-color: #AF1E23;
}
nav .nav_wrap{
        margin: 0 auto;
        width: 1200px;
        text-align: right;
}
nav .nav_wrap ul{
        list-style-type: none;
        list-style: none;
}
nav .nav_wrap ul li.m1, .nav_wrap ul li.m2{
        flex: left;
        margin-right: 100px;
        display: inline-block;
}
.sub {
    display: block;
    position: absolute;
    top: 61px;
    right: 0px;
    left: 0px;
    height: 0px;
    text-align: left;
    overflow: hidden;
    background: white;
    transition: height 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.sub ul {
    width: 1200px;
    margin: 0px auto;
}
.sub ul li:first-child {
    margin-left: 0px;
}
.sub ul li a {
    position: relative;
    color: rgb(38, 38, 38);
    font-size: 14px;
    line-height: 60px;
    font-weight: 700;
    padding: 0px 10px;
    background-color: white;
   
}

nav .nav_wrap ul li.m3, .nav_wrap ul li.m4{
        margin-right: 100px;
        display: inline-block;
}
nav .nav_wrap ul li a{
        display: block;
        position: relative;
        padding: 0 22px;
        color: #fff;
        font-size: 18px;
        line-height: 60px;
        text-decoration: none;
}
nav .nav_wrap a:hover{
    background-image: url(01mainnavbar1.jpg);
    background-repeat: repeat-x;
    background-position: bottom;
   
}
/*서브 배너*/
#sub_banner{
    width: 100%;
    height: 200px;
    background-color: #edeaea;
    margin-top: 105px;
}
#sub_banner12{
    width: 1200px;
    height: 200px;
    margin-left: 360px;
}
.sub_bannertext{
    float: left;
    width: 20%;
    height: 80px;
    background-color: #edeaea;
    color: #4a4b4d;
    font-size: 24px;
    text-align: left;
    padding: 60px 0;
}
.sub_bannertext h2{
    font-size: 30px;
}

#sub_bannerphoto{
    float: right;
    width: 60%;
    height: 200px;
    background-image: url(club_banner.jpg);
    background-repeat: no-repeat;
}
/*메인1200사이즈*/
#maintext{
    float: left;
    width: 1200px;
    height: 850px;
    margin-left: 360px;
  
}
/*왼쪽네비*/
#left_nav{
    float: left;
    width: 220px;
    margin-top: 83px;
    font-size: 18px;
}

#left_nav ul{
	list-style: none;
   
}

#left_nav a{
    margin: 0 0 0-40px;
    float: left;
	text-decoration: none;
	color: #4a4b4d;
	display: block;
	height: 20px;
	width: 180px;
    text-align: center;
	padding: 16px 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #ae1e22;
   
}
#left_nav a:hover{
	background-color: #ae1e22;
    color: white;
}




/*메인내용*/
#maintext1{
    float: right;
    width: 850px;
    height: 1700px;
    margin: 100px 0 0 0;
    font-size: 18px;
    line-height: 0.4em;
    color: #4a4b4d;
    text-align: center;
    background-color: aliceblue;
}

/*홈경기장*/
#big1_1{
    background-image: url(club5_main1.jpg);
    width: 850px;
    height: 540px;
}
#sub1_1 p, #sub1_2 p, #sub1_3 p{
    margin-top: 65%;
    
}
#sub1_1{
    float: left;
    background-image: url(club5_main1_sub1.jpg);
    width: 281px;
    height: 166px;
    border: 1px solid #4a4b4d;
}
#sub1_2{
    float: left;
    background-image: url(club5_main1_sub1.jpg);
    width: 281px;
    height: 166px;
    border: 1px solid #4a4b4d;
}
#sub1_3{
    float: left;
    background-image: url(club5_main1_sub3.jpg);
    width: 281px;
    height: 166px;
    border: 1px solid #4a4b4d;
}
#maintext1 h4{
    padding: 1%;
}

.line1{
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #4a4b4d;
    margin-top: 28%;
}

/*클럽하우스*/
#big2_1{
    background-image: url(club5_2main1.jpg);
    width: 850px;
    height: 540px;
    margin-top: 5%;
}
#sub2_1 p, #sub2_2 p, #sub2_3 p, #sub2_4 p, #sub2_5 p, #sub2_6 p{
    margin-top: 70%;
    
}
#sub2_1{
    float: left;
    background-image: url(club5_2main1_sub1.jpg);
    width: 281px;
    height: 178px;
    border: 1px solid #4a4b4d;
}
#sub2_2{
    float: left;
    background-image: url(club5_2main1_sub2.jpg);
    width: 281px;
    height: 178px;
    border: 1px solid #4a4b4d;
}
#sub2_3{
    float: left;
    background-image: url(club5_2main1_sub3.jpg);
    width: 282px;
    height: 178px;
    border: 1px solid #4a4b4d;
}
#sub2_4{
    float: left;
    background-image: url(club5_2main1_sub4.jpg);
    width: 281px;
    height: 178px;
    border: 1px solid #4a4b4d;
    margin-top: 5%;
}
#sub2_5{
    float: left;
    background-image: url(club5_2main1_sub5.jpg);
    width: 281px;
    height: 178px;
    border: 1px solid #4a4b4d;
    margin-top: 5%;
}
#sub2_6{
    float: left;
    background-image: url(club5_2main1_sub6.jpg);
    width: 282px;
    height: 178px;
    border: 1px solid #4a4b4d;
    margin-top: 5%;
}

.line2{
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #4a4b4d;
    margin-top: 56%;
}






/*하단*/
footer{
    margin-top: 1250px;
    width: 100%;
    background-color: #ae1e22;
    height: 135px;
    color: white;
    font-size: 0.9em;
    line-height: 2.2em;
}
#fsize{
    margin: 0 auto;
    width: 60%; 
}
#fsize p{
    padding: 13px;
}
#em{
    background-image: url(main_01emblem.png);
    background-repeat: no-repeat;
    background-position: center;
    width:93px;
    height: 93px;
    float: left;
    padding: 12px;
    margin-right: 40px;
    margin-top: 10px;
}