body {
	background-color: white;
	margin:0;
	padding:0;
	font-size: 0.75em;
	line-height: 1.2em;
	color: black;
}

#wrap {
	width:1920px;
	text-align:left;
	margin: 0 auto;
	background-color: white;
	min-height:1080px;
    font-family: 'NanumGothic';
}
.clear{
    clear: both;
}
header {
    position: fixed;
     z-index: 100;
     top: 0;
     right: 0;
     left: 0;
     height: 45px;
     background-color: #670e10;
}
header h1{
        position: absolute;
        z-index: 1;
        top: -10px;
        left: 50%;
        margin-left: -49px;
        font-weight: normal;
      }
header h1 a{
        display: block;
        width: 98px;
        height: 133px;
      }

header .top_util{
        overflow: hidden;
        margin: 0 auto;
        width: 1200px;
        height: 33px;
      }
header .top_util div{
        display: inline-block;
        margin-top: 15px;
        color: white;
        font-size: 22px;
        font-weight: bold;
      }
header .top_util div a{
   text-decoration: none;
    color: white;
}

/*네비 */
nav{
        position: relative;
        background-color: #AF1E23;
}
nav .nav_wrap{
        margin: 0 auto;
        width: 1200px;
        text-align: right;
}
nav .nav_wrap ul{
        list-style-type: none;
        list-style: none;
}
nav .nav_wrap ul li.m1, .nav_wrap ul li.m2{
        flex: left;
        margin-right: 100px;
        display: inline-block;
}
.sub {
    display: block;
    position: absolute;
    top: 61px;
    right: 0px;
    left: 0px;
    height: 0px;
    text-align: left;
    overflow: hidden;
    background: white;
    transition: height 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.sub ul {
    width: 1200px;
    margin: 0px auto;
}
.sub ul li:first-child {
    margin-left: 0px;
}
.sub ul li a {
    position: relative;
    color: rgb(38, 38, 38);
    font-size: 14px;
    line-height: 60px;
    font-weight: 700;
    padding: 0px 10px;
    background-color: white;
   
}

nav .nav_wrap ul li.m3, .nav_wrap ul li.m4{
        margin-right: 100px;
        display: inline-block;
}
nav .nav_wrap ul li a{
        display: block;
        position: relative;
        padding: 0 22px;
        color: #fff;
        font-size: 18px;
        line-height: 60px;
        text-decoration: none;
}
nav .nav_wrap a:hover{
    background-image: url(01mainnavbar1.jpg);
    background-repeat: repeat-x;
    background-position: bottom;
   
}
/*서브 배너*/
#sub_banner{
    width: 100%;
    height: 200px;
    background-color: #edeaea;
    margin-top: 105px;
}
#sub_banner12{
    width: 1200px;
    height: 200px;
    margin-left: 360px;
}
.sub_bannertext{
    float: left;
    width: 20%;
    height: 80px;
    background-color: #edeaea;
    color: #4a4b4d;
    font-size: 24px;
    text-align: left;
    padding: 60px 0;
}


#sub_bannerphoto{
    float: right;
    width: 60%;
    height: 200px;
    background-image: url(team_banner.jpg);
    background-repeat: no-repeat;
}
/*메인1200사이즈*/
#maintext{
    float: left;
    width: 1200px;
    height: 850px;
    margin-left: 360px;
  
}
/*왼쪽네비*/
#left_nav{
    float: left;
    width: 220px;
    margin-top: 83px;
    font-size: 18px;
}

#left_nav ul{
	list-style: none;
   
}

#left_nav a{
    margin: 0 0 0-40px;
    float: left;
	text-decoration: none;
	color: #4a4b4d;
	display: block;
	height: 20px;
	width: 180px;
    text-align: center;
	padding: 16px 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #ae1e22;
   
}
#left_nav a:hover{
	background-color: #ae1e22;
    color: white;
}




/*메인내용*/
#maintext1{
    float: right;
    width: 850px;
    height: 1000px;
    margin: 100px 0 0 0;
    font-size: 18px;
    line-height: 0.4em;
    color: #4a4b4d;
    text-align: center;
}
/*프로필사진*/
.playerInfoBox1{
    float: left;
    background-color: #edeaea;
    width: 470px;
    height: 570px;
}
.playerInfoBox1 img{
    position: relative;
    margin-top: 5%;   
}

.player_photo1{
    position: absolute;
    margin: 4.2% 0 0 1.6%;       
}

.playerInfoBox2{
    float: left;
    background-color: #edeaea;
    width: 380px;
    height: 570px;
}

.playerInfoBox2 img{
    margin-top: 3.5%
}
/*프로필 정보*/
#infobox{
    position: absolute;
    margin: 5.5% 0 0 25.8%; 
    background-color: #ae1e22;
    width: 360px;
    height: 360px;
   filter:alpha(opacity=40);/*익스용 투명도 필터*/
	opacity:.70;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /*--익스8용 투명도 필터--*/
    color: white;
    text-align: left;
}
#numberbox{
    background-color: #cbbaba;
    width: 90px;
    height: 50px;
    float: right;
     line-height: 1em;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;;
    padding:  20px 0
    
}




/*프로필 테이블 정보*/
table.profile {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1;
    font-size: 0.9em;
    margin-left: 2%;
    color: white;
}
table.profile h4{
    line-height: 1.5;
}

table.profile td {
    padding: 5px;
    vertical-align: top;
}

/*경기 수 정보*/
.matchbox{
    background-color: #ae1e22;
    width: 100px;
    height: 50px;
    float: left; 
    margin: 11% 0 0 40%;
    text-align: center;
}


/*골 정보*/
.goalbox{
    background-color: #ae1e22;
    width: 100px;
    height: 50px;
    float: right; 
    margin: 11% 0 0 0;
    text-align: center;
}


/*네비3*/
.nav3bg{
    background-color: #4a4b4d;
    height: 50px;
    font-size: 18px;
    line-height: 1.5em;
     margin: 70% 0 0 0;
}
.nav3bg .nav3{
    float: left;
    background-color: #4a4b4d;
    height: 30px;
    width: 20%;
    text-align: center;
    padding: 10px;
}
.nav3bg .nav3 a{
    text-decoration: none;
    color: white;
    text-align: center;
    height: 30px;
    width: 100%;
    padding: 10px 42px;
}
.nav3bg .nav3 a:hover{
    background-color: #ae1e22;
}


/*경기별 내용*/
.table2{
    width: 850px;
    margin: 20px 0px 0 0px;
    font-size: 15px;
    text-align: center;
    line-height: 1em;
    border-collapse: collapse;
}
#line1{
    background-color: #dbdbdc;
    line-height: 2.5em;
}

.date1, .match1, .team1, .otherteam1{
    width: 100px; 
}
.into1{
     width: 80px;
}
.change1 {
     width: 110px;
}
.goal1, .yellow1, .red1 {
      width: 60px;
}

.table2 td{
    padding: 30px 0px;
    border-bottom: 0.5px solid #d6d6d6; 
}

/*페이지 카운트*/
.page_count{
    width: 850px;
    height: 35px;
    margin-top: 5%;
    font-size: 1em;
}
.page_count a{
    color: black;
    text-decoration: none;
    padding: 0 6px;
    display: inline-block;
    vertical-align: middle;
}
.pager_count a.on {
    font-weight: 700;
    color: red;
}



/*하단*/
footer{
    margin-top: 2000px;
    width: 100%;
    background-color: #ae1e22;
    height: 135px;
    color: white;
    font-size: 0.9em;
    line-height: 2.2em;
}
#fsize{
    margin: 0 auto;
    width: 60%; 
}
#fsize p{
    padding: 13px;
}
#em{
    background-image: url(main_01emblem.png);
    background-repeat: no-repeat;
    background-position: center;
    width:93px;
    height: 93px;
    float: left;
    padding: 12px;
    margin-right: 40px;
    margin-top: 10px;
}