body {
	background-color: white;
	margin:0;
	padding:0;
	font-size: 0.75em;
	line-height: 1.2em;
	color: black;
}

#wrap {
	width:1920px;
	text-align:left;
	margin: 0 auto;
	background-color: white;
	min-height:1080px;
    font-family: 'NanumGothic';
}
.clear{
    clear: both;
}
/* 상단 */
*{
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
  list-style:none;
}

 divdd{
  vertical-align: baseline;
  display: block;
}

body {
  
}
#section01{
	position: relative;
	display: table;
	width: 100%;
	height: 45px;
    color: white;
    font-size: 18px;
    background-color: #670e10;
}
#textbox{
	displaya: table-cell;
	text-aligna: center;
	width: 62%;
    margin: 0 auto;
    padding-top:14px; /* 중요 */
    padding-right: 50%; /* 중요 */
    font-size: 1.2em;
    font-weight: bold;
}
#textbox a{
	max-widthf: 90%;
	display: inline-block;
	text-decoration: none;
    width: 500px;
}
#section02{
	position: relative;
	color: white;
	width: 100%;
	height: 60px;
    font-size: 17px;
    
}
#menu_box{
    height: 60px;
	text-align: center;
	vertical-align: middle;
	background-color: #ae1e22;
}
#menu_box ul{
    height: 60px;
	max-width: 100%;
	display: inline-block;
	text-decoration: none;
	padding-left: 0;
   
    
}
#menu_box ul li{
	float: left;
	margin-left: 150px;
    height: 60px;
    padding: 20px 10px;
}
#menu_box ul li a{
    color: white;
    text-decoration: none;
}
#emblem{
	position: absolute;
	z-index: 999;
	top: 6px;
	left: 47%;
}

#menu_box ul li:hover{ 
        background-image: url(topnavbar.jpg);
        background-repeat: repeat-x;
        background-position: bottom;
    }

#menu_box ul li ul li a:hover{ 
        background-image: url(topnavsubbar.jpg);
        background-repeat: repeat-x;
        background-position: bottom;
    }



 .longLink {     /* 좀 더 긴 메뉴 스타일 설정 */
          
    }


.submenuLink {          /* 하위 메뉴의 a 태그 스타일 설정 */
        color: #2d2d2d; 
        background-color: white;      /* [변경] 배경색 변경 */
        -border: solid 1px black;    /* [삭제] 테두리 삭제 */
        -margin-right: -1px;         /* [삭제] 공백 보정 삭제 */
        padding: 0px;
    }
    .submenu {              /* 하위 메뉴 스타일 설정 */
        position: absolute;     
        height: 0px;           
        overflow: hidden;       
        transition: height .2s; 
        -webkit-transition: height .2s; 
        -moz-transition: height .2s; 
        -o-transition: height .2s; 
        width: 100%;
        heighdt: 40px; 
        left: 0;                
        background-color: white; /* [추가] 하위 메뉴 전체에 배경색 설정 */
        top: 60px;
        color: black;
    }
    .submenu li {
        display: inline-block;
    }

#menu_box ul li ul{
    height: 40px; 
    margin: 0 auto;
    width: 66%;
    
}

#menu_box ul li ul li{
    padding: 0px;
    margin-left: 0px;
    margin-right: 4%;
    margin-top: 1%;
}

#menu_box ul li ul li:first-child{
    margin-left: 0px;
}



#menu_box ul li ul li a{
    width: 1200px;
    margin: 0 auto;
    color: black;
    font-size: 14px;
    padding: 0 0 12px 0;
    
}


#menu_box ul li:hover .submenu { 
        height: 40px;  /* 메뉴에 마우스 오버시 하위메뉴 높이 값 */        
    }
/* 상단 끝*/


/*서브 배너*/
#sub_banner{
    width: 100%;
    height: 200px;
    background-color: #edeaea;
}
#sub_banner12{
    width: 1200px;
    height: 200px;
    margin-left: 360px;
}
.sub_bannertext{
    float: left;
    width: 20%;
    height: 80px;
    background-color: #edeaea;
    color: #4a4b4d;
    font-size: 22px;
    text-align: center;
    padding: 60px 0;
    line-height: 35px
}

#sub_bannerphoto{
    float: right;
    
    background-repeat: no-repeat;
}
/*메인1200사이즈*/
#maintext{
    float: left;
    width: 1200px;
    height: auto;
    margin-left: 360px;
}
/*왼쪽네비*/
#left_nav{
    float: left;
    width: 220px;
    margin-top: 100px;
    font-size: 16px;
}

#left_nav ul{
	list-style: none;
}

#left_nav a{
    margin: 0 0 0-40px;
    float: left;
	text-decoration: none;
	color: #4a4b4d;
	display: block;
	height: 50px;
	width: 200px;
    text-align: center;
	padding: 16px 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #ae1e22;
   
}
#left_nav a:hover{
	background-color: #ae1e22;
    color: white;
}





/*메인내용*/
#maintext1{
    float: right;
    width: 850px;
    height: 1250px;
    margin: 100px 0 0 0;
    font-size: 18px;
    line-height: 0.4em;
    color: #4a4b4d;
    text-align: center;
}
/*프로필사진*/
.playerInfoBox1{
    float: left;
    background-color: #edeaea;
    width: 470px;
    height: 570px;
}
.playerInfoBox1 img{
    position: relative;
    margin-top: 5%;   
}

.player_photo1{
    position: absolute;
    margin: 4.2% 0 0 1.6%;       
}

.playerInfoBox2{
    float: left;
    background-color: #edeaea;
    width: 380px;
    height: 570px;
}

.playerInfoBox2 img{
    margin-top: 3.5%
}
/*프로필 정보*/
#infobox{
    position: absolute;
    margin: 5.5% 0 0 25.8%; 
    background-color: #ae1e22;
    width: 360px;
    height: 360px;
    color: white;
    text-align: left;
     filter:alpha(opacity=40);/*익스용 투명도 필터*/
	opacity:.80;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /*--익스8용 투명도 필터--*/
}
#numberbox{
    background-color: #cbbaba;
    width: 90px;
    height: 50px;
    float: right;
     line-height: 1em;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;;
    padding:  0 0;
}




/*프로필 테이블 정보*/
table.profile {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1;
    font-size: 0.9em;
    margin-left: 2%;
    color: white;
}
table.profile h4{
    line-height: 1.5;
}

table.profile td {
    padding: 5px;
    vertical-align: top;
    
}

/*경기 수 정보*/
.matchbox{
    background-color: #ae1e22;
    width: 100px;
    height: 50px;
    float: left; 
    margin: 22% 0 0 40%;
    text-align: center;
    padding: 20px 0;
}


/*골 정보*/
.goalbox{
    background-color: #ae1e22;
    width: 100px;
    height: 50px;
    float: right; 
    margin: 22% 0 0 0;
    text-align: center;
    padding: 20px 0;
}





/* 탭 선택 시 표시할 요소(div) 정의(1번 탭 선택 시 첫 번째 div 요소 표시) */
#css_tabs input:nth-of-type(1), #css_tabs input:nth-of-type(1) ~ div:nth-of-type(1),
#css_tabs input:nth-of-type(2), #css_tabs input:nth-of-type(2) ~ div:nth-of-type(2),
#css_tabs input:nth-of-type(3), #css_tabs input:nth-of-type(3) ~ div:nth-of-type(3),
#css_tabs input:nth-of-type(4), #css_tabs input:nth-of-type(4) ~ div:nth-of-type(4) {
    display:none
}
#css_tabs input:nth-of-type(1):checked ~ div:nth-of-type(1),
#css_tabs input:nth-of-type(2):checked ~ div:nth-of-type(2),
#css_tabs input:nth-of-type(3):checked ~ div:nth-of-type(3),
#css_tabs input:nth-of-type(4):checked ~ div:nth-of-type(4){
    display:block
}

/* 라벨 기본 스타일 지정 */
#css_tabs > label {
    display:inline-block;
    font-variant:small-caps;
    font-size:.8em;
    padding:5px;
    text-align:center;
    width:23.14%;
    line-height:1.8em;
    border-radius:3px 3px 0 0;
    background:#4a4b4d;;
    color:white;
    border:1px solid #ccc;
    border-width:1px 1px 0;
    margin-top: 4%;
}
#css_tabs > label:hover {
    cursor:pointer
}
#css_tabs label[for=tab1] {
    margin-leftc:1.5em
}

/* 선택된 라벨, 커서를 올린 라벨 스타일 지정 */
#css_tabs input:nth-of-type(1):checked ~ label:nth-of-type(1), #css_tabs > label[for=tab1]:hover {
    background:#ae1e22;
    color:#fff
}
#css_tabs input:nth-of-type(2):checked ~ label:nth-of-type(2), #css_tabs > label[for=tab2]:hover {
    background:#ae1e22;
    color:#fff
}
#css_tabs input:nth-of-type(3):checked ~ label:nth-of-type(3), #css_tabs > label[for=tab3]:hover {
    background:#ae1e22;
    color:#fff
}
#css_tabs input:nth-of-type(4):checked ~ label:nth-of-type(4), #css_tabs > label[for=tab4]:hover {
    background:#ae1e22;
    color:#fff
}

/* 실제 내용이 담긴 div 요소 스타일 지정 */
#css_tabs .tab1_content, #css_tabs .tab2_content, #css_tabs .tab3_content {
    width: 90%;
    height:100%
}


/*경기별 내용*/
.table2{
    width: 850px;
    margin: 20px 0px 0 -42px;
    font-size: 15px;
    text-align: center;
    line-height: 1em;
    border-collapse: collapse;
}
#line1{
    background-color: #dbdbdc;
    line-height: 2.5em;
}

.date1, .match1, .team1, .otherteam1{
    width: 100px; 
}
.into1{
     width: 80px;
}
.change1 {
     width: 110px;
}
.goal1, .yellow1, .red1 {
      width: 60px;
}

.table2 td{
    padding: 30px 0px;
    border-bottom: 0.5px solid #d6d6d6; 
}

/*페이지 카운트*/
.page_count{
    width: 850px;
    height: 35px;
    margin-top: 5%;
    font-size: 1em;
}
.page_count a{
    color: black;
    text-decoration: none;
    padding: 0 6px;
    display: inline-block;
    vertical-align: middle;
}
.pager_count a.on {
    font-weight: 700;
    color: red;
}

/* 영상1 */
#tab3_content1{
    width: 850px;
    height: 300px;
    margin-top: 2.5%;
    margin-left: -5.5%
}
.videobg{
    float: left;
    width: 415px;
    height: 330px;
    text-align: left;
    font-size: 0.8em;
}
.video{
    float: left;
    width: 415px;
}

.blackbox{
    margin-top: -41px;
    position: absolute;
    background-image: url(team2_third_info10_video1_opbox.png);
    width: 415px;
    height: 41px;
    vertical-align: middle;
    color: white;
}
.blackbox .text{
    float: left;
    margin-top: 16px;
    margin-left: 10px;
}
.blackbox .time{
    float: right;
    margin-top: 16px;
    margin-right: 10px;
}
.video p{
  margin-left: 10px;
    font-weight: bold;
    line-height: 25px;

}

/* 영상2 */
.videobg2{
    float: right;
    width: 415px;
    height: 330px;
    text-align: left;
    font-size: 0.8em;
}

/* 포토갤러리 */

#tab4_content2{
    width: 850px;
    height: 270px;
    margin-top: 2.5%;
}

.photosize{
    width: 268px;
    height: 268px;
    float: left;
    border: 1px solid #ae1e22;
    box-sizing: border-box;
    margin-right: 22px;
}
.photosize2{
    width: 268px;
    height: 268px;
    float: left;
    border: 1px solid #ae1e22;
    box-sizing: border-box;
}
.photobox{
    position: absolute;
    background-image: url(team2_third_info10_photo_opbox.png);
    width: 266px;
    height: 60px;
    color: white;
    margin-top: 10%;
    color: white;
    line-height: 1.2em;
}

.photobox p{ /* 포토갤러리 한줄 글자 */
    padding: 2px;
}    
.pp{ /* 포토갤러리 두줄 글자 */
   margin-top: 0.4em;
}




















/* 하단 */

footer{
    margin-top: 10%;
    width: 100%;
    background-color: #ae1e22;
    height: 135px;
    color: white;
    font-size: 0.9em;
    line-height: 2.2em;
}
#fsize{
    margin: 0 auto;
    width: 60%; 
}
#fsize p{
    padding: 20px;
}
#em{
    background-image: url(main_01emblem.png);
    background-repeat: no-repeat;
    background-position: center;
    width:93px;
    height: 93px;
    float: left;
    padding: 12px;
    margin-right: 40px;
    margin-top: 22px;
}
