body {
	background-color: white;
	margin:0;
	padding:0;
	font-size: 0.75em;
	line-height: 1.2em;
	color: black;
}

#wrap {
	width:1920px;
	text-align:left;
	margin: 0 auto;
	background-color: white;
	min-height:1080px;
    font-family: 'NanumGothic';
}
.clear{
    clear: both;
}
/* 상단 */
*{
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
  list-style:none;
}

 divdd{
  vertical-align: baseline;
  display: block;
}

body {
  
}
#section01{
	position: relative;
	display: table;
	width: 100%;
	height: 45px;
    color: white;
    font-size: 18px;
    background-color: #670e10;
}
#textbox{
	displaya: table-cell;
	text-aligna: center;
	width: 62%;
    margin: 0 auto;
    padding-top:14px; /* 중요 */
    padding-right: 50%; /* 중요 */
    font-size: 1.2em;
    font-weight: bold;
}
#textbox a{
	max-widthf: 90%;
	display: inline-block;
	text-decoration: none;
    width: 500px;
}
#section02{
	position: relative;
	color: white;
	width: 100%;
	height: 60px;
    font-size: 17px;
    
}
#menu_box{
    height: 60px;
	text-align: center;
	vertical-align: middle;
	background-color: #ae1e22;
}
#menu_box ul{
    height: 60px;
	max-width: 100%;
	display: inline-block;
	text-decoration: none;
	padding-left: 0;
   
    
}
#menu_box ul li{
	float: left;
	margin-left: 150px;
    height: 60px;
    padding: 20px 10px;
}
#menu_box ul li a{
    color: white;
    text-decoration: none;
}
#emblem{
	position: absolute;
	z-index: 999;
	top: 6px;
	left: 47%;
}

#menu_box ul li:hover{ 
        background-image: url(topnavbar.jpg);
        background-repeat: repeat-x;
        background-position: bottom;
    }

#menu_box ul li ul li a:hover{ 
        background-image: url(topnavsubbar.jpg);
        background-repeat: repeat-x;
        background-position: bottom;
    }



 .longLink {     /* 좀 더 긴 메뉴 스타일 설정 */
          
    }


.submenuLink {          /* 하위 메뉴의 a 태그 스타일 설정 */
        color: #2d2d2d; 
        background-color: white;      /* [변경] 배경색 변경 */
        -border: solid 1px black;    /* [삭제] 테두리 삭제 */
        -margin-right: -1px;         /* [삭제] 공백 보정 삭제 */
        padding: 0px;
    }
    .submenu {              /* 하위 메뉴 스타일 설정 */
        position: absolute;     
        height: 0px;           
        overflow: hidden;       
        transition: height .2s; 
        -webkit-transition: height .2s; 
        -moz-transition: height .2s; 
        -o-transition: height .2s; 
        width: 100%;
        heighdt: 40px; 
        left: 0;                
        background-color: white; /* [추가] 하위 메뉴 전체에 배경색 설정 */
        top: 60px;
        color: black;
    }
    .submenu li {
        display: inline-block;
    }

#menu_box ul li ul{
    height: 40px; 
    margin: 0 auto;
    width: 66%;
    
}

#menu_box ul li ul li{
    padding: 0px;
    margin-left: 0px;
    margin-right: 4%;
    margin-top: 1%;
}

#menu_box ul li ul li:first-child{
    margin-left: 0px;
}



#menu_box ul li ul li a{
    width: 1200px;
    margin: 0 auto;
    color: black;
    font-size: 14px;
    padding: 0 0 12px 0;
    
}


#menu_box ul li:hover .submenu { 
        height: 40px;  /* 메뉴에 마우스 오버시 하위메뉴 높이 값 */        
    }
/* 상단 끝*/

/*서브 배너*/
#sub_banner{
    width: 100%;
    height: 200px;
    background-color: #edeaea;
}
#sub_banner12{
    width: 1200px;
    height: 200px;
    margin-left: 360px;
}
.sub_bannertext{
    float: left;
    width: 20%;
    height: 80px;
    background-color: #edeaea;
    color: #4a4b4d;
    font-size: 1.5em;
    text-align: center;
    padding: 60px 0;
    line-height: 35px
}

#sub_bannerphoto{
    float: right;
    
    background-repeat: no-repeat;
}
/*메인1200사이즈*/
#maintext{
    float: left;
    width: 1200px;
    height: auto;
    margin-left: 360px;
}
/*왼쪽네비*/
#left_nav{
    float: left;
    width: 220px;
    margin-top: 100px;
    font-size: 16px;
}

#left_nav ul{
	list-style: none;
}

#left_nav a{
    margin: 0 0 0-40px;
    float: left;
	text-decoration: none;
	color: #4a4b4d;
	display: block;
	height: 50px;
	width: 200px;
    text-align: center;
	padding: 16px 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #ae1e22;
   
}
#left_nav a:hover{
	background-color: #ae1e22;
    color: white;
}




/*메인내용*/
#maintext1{
    float: right;
    width: 850px;
    height: 1900px;
    margin: 100px 0 0 0;
    font-size: 18px;
    line-height: 0.4em;
    color: #4a4b4d;
    text-align: center;
}

/*홈경기장*/
#big1_1{
    background-image: url(club5_main1.jpg);
    width: 850px;
    height: 540px;
}
#sub1_1 p, #sub1_2 p, #sub1_3 p{
    margin-top: 65%;
    
}
#sub1_1{
    float: left;
    background-image: url(club5_main1_sub1.jpg);
    width: 281px;
    height: 166px;
    border: 1px solid #4a4b4d;
}
#sub1_2{
    float: left;
    background-image: url(club5_main1_sub1.jpg);
    width: 281px;
    height: 166px;
    border: 1px solid #4a4b4d;
}
#sub1_3{
    float: left;
    background-image: url(club5_main1_sub3.jpg);
    width: 281px;
    height: 166px;
    border: 1px solid #4a4b4d;
}
#maintext1 h4{
    padding: 1%;
}

.line1{
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #4a4b4d;
    margin-top: 28%;
}

/*클럽하우스*/
#big2_1{
    background-image: url(club5_2main1.jpg);
    width: 850px;
    height: 540px;
    margin-top: 5%;
}
#sub2_1 p, #sub2_2 p, #sub2_3 p, #sub2_4 p, #sub2_5 p, #sub2_6 p{
    margin-top: 70%;
    
}
#sub2_1{
    float: left;
    background-image: url(club5_2main1_sub1.jpg);
    width: 281px;
    height: 178px;
    border: 1px solid #4a4b4d;
}
#sub2_2{
    float: left;
    background-image: url(club5_2main1_sub2.jpg);
    width: 281px;
    height: 178px;
    border: 1px solid #4a4b4d;
}
#sub2_3{
    float: left;
    background-image: url(club5_2main1_sub3.jpg);
    width: 282px;
    height: 178px;
    border: 1px solid #4a4b4d;
}
#sub2_4{
    float: left;
    background-image: url(club5_2main1_sub4.jpg);
    width: 281px;
    height: 178px;
    border: 1px solid #4a4b4d;
    margin-top: 5%;
}
#sub2_5{
    float: left;
    background-image: url(club5_2main1_sub5.jpg);
    width: 281px;
    height: 178px;
    border: 1px solid #4a4b4d;
    margin-top: 5%;
}
#sub2_6{
    float: left;
    background-image: url(club5_2main1_sub6.jpg);
    width: 282px;
    height: 178px;
    border: 1px solid #4a4b4d;
    margin-top: 5%;
}

.line2{
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #4a4b4d;
    margin-top: 56%;
}






/* 하단 */

footer{
    margin-top: 10%;
    width: 100%;
    background-color: #ae1e22;
    height: 135px;
    color: white;
    font-size: 0.9em;
    line-height: 2.2em;
}
#fsize{
    margin: 0 auto;
    width: 60%; 
}
#fsize p{
    padding: 20px;
}
#em{
    background-image: url(main_01emblem.png);
    background-repeat: no-repeat;
    background-position: center;
    width:93px;
    height: 93px;
    float: left;
    padding: 12px;
    margin-right: 40px;
    margin-top: 22px;
}
