<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="class">
	<resultMap type="class" id="classResult">
		<id property="cl_no" column="cl_no" />
		<result property="class_name" column="class_name" />
		<result property="address" column="address" />
		<result property="timetable" column="timetable" />
		<result property="totalTime" column="totaltime" />
		<result property="class_cd" column="class_cd" />
	</resultMap>

	<select id="getClassList" resultType="class">
		select a.* from ( select rownum rn, b.* from (
		
		SELECT cl_no
			,class_name
			,address
			,timetable
			,totaltime
			,class_cd
		FROM class
		ORDER BY cl_no
		
		) b ) a where rn between #{first} and #{last}
	</select>
	
	<select id="getClass" resultType="class" parameterType="class">
		SELECT * FROM class WHERE cl_no=#{cl_no}	
	</select>

	<insert id="insertClass" parameterType="class">
		<selectKey keyProperty="cl_no" resultType="int" order="BEFORE">
			SELECT NVL(MAX(cl_no),0)+1 FROM CLASS
		</selectKey>
		INSERT INTO class(
				cl_no
				,class_name
				,address
				,timetable
				,totaltime
				,class_cd
		<if test="timeTable != null">
				,timetable
		</if>
		)
		VALUES(
				#{cl_no},
				#{class_name},
				#{address},
				#{timetable},
				#{totaltime},
				#{class_cd}
		<if test="timeTable != null">
				,#{timetable}
		</if>
			)
	</insert>

	<update id="updateClass" parameterType="class">
		UPDATE class SET
				class_name=#{class_name},
				address=#{address},
				timetable=#{timetable},
				totaltime=#{totaltime},
				class_cd=#{class_cd}
		WHERE cl_no=#{cl_no}
	</update>

	<delete id="deleteClass" parameterType="class">
		DELETE class WHERE cl_no=#{cl_no}
	</delete>
	
	<select id="getCount" resultType="int" parameterType="class">
		SELECT COUNT(*)
		FROM CLASS
	</select>
</mapper>