<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="classInfo">

	<select id="getClassInfo" resultType="string">
		
		select class_cd, cl_no
		from class cl, class_info clinfo
		where cl.cl_no = clinfo.cl_no
		and member_id =#{member_id}
		
	</select>

	<insert id="insertClassInfo" parameterType="map">
		
		insert into class_info 
		values(#{id},#{course_type_cd},#{cl_no})
	
	</insert>
	
</mapper>
